[data-theme] {
  --colors-black: #000000;
  --colors-white: #ffffff;
  --colors-accent-50: #f1fbff;
  --colors-accent-75: #e1f5fe;
  --colors-accent-100: #b3e5fc;
  --colors-accent-200: #81d4fa;
  --colors-accent-300: #4fc3f7;
  --colors-accent-400: #29b6f6;
  --colors-accent-500: #039be5;
  --colors-accent-600: #0288d1;
  --colors-accent-700: #0277bd;
  --colors-accent-800: #01579b;
  --colors-accent-900: #003e70;
  --colors-blue-50: #eff6ff;
  --colors-blue-75: #e0e7f5;
  --colors-blue-100: #c9d8ef;
  --colors-blue-200: #9ebce1;
  --colors-blue-300: #6696ce;
  --colors-blue-400: #3876bf;
  --colors-blue-500: #0060ad;
  --colors-blue-600: #00579d;
  --colors-blue-700: #00447b;
  --colors-blue-800: #00355f;
  --colors-blue-900: #002849;
  --colors-critical-50: #fff6f7;
  --colors-critical-75: #fce6e7;
  --colors-critical-100: #f9cccf;
  --colors-critical-200: #f4999f;
  --colors-critical-300: #ee666e;
  --colors-critical-400: #e9333e;
  --colors-critical-500: #e3000e;
  --colors-critical-600: #b6000b;
  --colors-critical-700: #880008;
  --colors-critical-800: #5b0006;
  --colors-critical-900: #2d0003;
  --colors-grey-50: #fdfdfd;
  --colors-grey-75: #fafafa;
  --colors-grey-100: #f5f5f5;
  --colors-grey-200: #eeeeee;
  --colors-grey-300: #e0e0e0;
  --colors-grey-400: #bdbdbd;
  --colors-grey-500: #9e9e9e;
  --colors-grey-600: #757575;
  --colors-grey-700: #616161;
  --colors-grey-800: #424242;
  --colors-grey-900: #212121;
  --colors-neutral-50: #f9fafb;
  --colors-neutral-75: #f3f5f7;
  --colors-neutral-100: #e8ebef;
  --colors-neutral-200: #dbdfe5;
  --colors-neutral-300: #c4cad3;
  --colors-neutral-400: #a9b1bc;
  --colors-neutral-500: #a9b1bc;
  --colors-neutral-600: #626d7c;
  --colors-neutral-700: #515a67;
  --colors-neutral-800: #343e4b;
  --colors-neutral-900: #2b3036;
  --colors-neutral-950: #282b2f;
  --colors-success-50: #f8fdf8;
  --colors-success-75: #ecf5eb;
  --colors-success-100: #daebd6;
  --colors-success-200: #b4d6ad;
  --colors-success-300: #8fc285;
  --colors-success-400: #69ad5c;
  --colors-success-500: #449933;
  --colors-success-600: #367a29;
  --colors-success-700: #295c1f;
  --colors-success-800: #1b3d14;
  --colors-success-900: #0e1f0a;
  --colors-warning-50: #fffbf6;
  --colors-warning-75: #fef4e8;
  --colors-warning-100: #fce8d2;
  --colors-warning-200: #fad2a4;
  --colors-warning-300: #f7bb77;
  --colors-warning-400: #f5a549;
  --colors-warning-500: #f28e1c;
  --colors-warning-600: #c27216;
  --colors-warning-700: #915511;
  --colors-warning-800: #61390b;
  --colors-warning-900: #301c06;

  --complementary-lime-100: #efffd6;
  --complementary-lime-200: #d3f1a7;
  --complementary-lime-300: #b3df72;
  --complementary-lime-400: #94c748;
  --complementary-lime-500: #82b536;
  --complementary-lime-600: #6a9a23;
  --complementary-lime-700: #5b7f24;
  --complementary-lime-800: #4c6b1f;
  --complementary-lime-900: #37471f;
  --complementary-lime-1000: #28311b;
  --complementary-magenta-100: #ffecf8;
  --complementary-magenta-200: #fdd0ec;
  --complementary-magenta-300: #f797d2;
  --complementary-magenta-400: #e774bb;
  --complementary-magenta-500: #da62ac;
  --complementary-magenta-600: #cd519d;
  --complementary-magenta-700: #ae4787;
  --complementary-magenta-800: #943d73;
  --complementary-magenta-900: #50253f;
  --complementary-magenta-1000: #3d2232;
  --complementary-purple-100: #f3f0ff;
  --complementary-purple-200: #dfd8fd;
  --complementary-purple-300: #b8acf6;
  --complementary-purple-400: #9f8fef;
  --complementary-purple-500: #8f7ee7;
  --complementary-purple-600: #8270db;
  --complementary-purple-700: #6e5dc6;
  --complementary-purple-800: #5e4db2;
  --complementary-purple-900: #352c63;
  --complementary-purple-1000: #2b273f;
  --complementary-teal-100: #e7f9ff;
  --complementary-teal-200: #c6edfb;
  --complementary-teal-300: #9dd9ee;
  --complementary-teal-400: #6cc3e0;
  --complementary-teal-500: #42b2d7;
  --complementary-teal-600: #2898bd;
  --complementary-teal-700: #227d9b;
  --complementary-teal-800: #206a83;
  --complementary-teal-900: #164555;
  --complementary-teal-1000: #1e3137;
  --complementary-yellow-100: #fff7d6;
  --complementary-yellow-200: #f8e6a0;
  --complementary-yellow-300: #f5cd47;
  --complementary-yellow-400: #e2b203;
  --complementary-yellow-500: #cf9f02;
  --complementary-yellow-600: #b38600;
  --complementary-yellow-700: #946f00;
  --complementary-yellow-800: #7f5f01;
  --complementary-yellow-900: #533f04;
  --complementary-yellow-1000: #332e1b;

  --colors-alpha-accented-10: #7ed6ff1a;
  --colors-alpha-accented-20: #7ed6ff33;
  --colors-alpha-accented-30: #7ed6ff4d;
  --colors-alpha-accented-40: #7ed6ff66;
  --colors-alpha-accented-5: #7ed6ff0d;
  --colors-alpha-blue-10: #153c760f;
  --colors-alpha-blue-20: #153c761a;
  --colors-alpha-blue-30: #153c762e;
  --colors-alpha-blue-40: #153c763d;
  --colors-alpha-blue-5: #153c7608;
  --colors-alpha-critical-10: #f4999f1a;
  --colors-alpha-critical-20: #f4999f33;
  --colors-alpha-critical-30: #f4999f4d;
  --colors-alpha-critical-40: #f4999f66;
  --colors-alpha-critical-5: #f4999f0d;
  --colors-alpha-neutral-0: #2b303600;
  --colors-alpha-neutral-10: #2b30360f;
  --colors-alpha-neutral-20: #2b30361a;
  --colors-alpha-neutral-30: #2b30362e;
  --colors-alpha-neutral-40: #2b30364d;
  --colors-alpha-neutral-5: #2b303608;
  --colors-alpha-neutral-60: #2b303699;
  --colors-alpha-neutral-90: #2b3036de;
  --colors-alpha-success-10: #b4d6ad1a;
  --colors-alpha-success-20: #b4d6ad33;
  --colors-alpha-success-30: #b4d6ad4d;
  --colors-alpha-success-40: #b4d6ad66;
  --colors-alpha-success-5: #b4d6ad0d;
  --colors-alpha-warning-10: #fad2a41a;
  --colors-alpha-warning-20: #fad2a433;
  --colors-alpha-warning-30: #fad2a44d;
  --colors-alpha-warning-40: #fad2a466;
  --colors-alpha-warning-5: #fad2a40d;
  --colors-alpha-white-10: #ffffff1a;
  --colors-alpha-white-20: #ffffff33;
  --colors-alpha-white-30: #ffffff4d;
  --colors-alpha-white-40: #ffffff66;
  --colors-alpha-white-5: #ffffff0d;
  --colors-alpha-white-60: #ffffff99;
  --colors-alpha-white-90: #ffffffde;
}

[data-theme='light'] {
  --border-default: var(--colors-neutral-300);
  --border-disabled: var(--colors-grey-300);
  --border-subdued: var(--colors-neutral-100);
  --border-brand-accented: var(--colors-blue-600);
  --border-brand-default: var(--colors-blue-500);
  --border-brand-disabled: var(--colors-grey-300);
  --border-brand-subdued: var(--colors-blue-200);
  --border-critical-accented: var(--colors-critical-600);
  --border-critical-default: var(--colors-critical-500);
  --border-critical-disabled: var(--colors-grey-300);
  --border-critical-focus: var(--colors-critical-600);
  --border-critical-hover: var(--colors-critical-600);
  --border-critical-subdued: var(--colors-critical-200);
  --border-interactive-active: var(--colors-blue-500);
  --border-interactive-default: var(--colors-neutral-300);
  --border-interactive-disabled: var(--colors-grey-300);
  --border-interactive-focus: var(--colors-blue-500);
  --border-interactive-hover: var(--colors-blue-500);
  --border-interactive-primary-accented: var(--colors-blue-600);
  --border-interactive-primary-default: var(--colors-blue-500);
  --border-interactive-primary-disabled: var(--colors-grey-300);
  --border-interactive-primary-subdued: var(--colors-blue-200);
  --border-interactive-selected-default: var(--colors-blue-500);
  --border-interactive-selected-disabled: var(--colors-grey-300);
  --border-interactive-selected-focus: var(--colors-blue-700);
  --border-interactive-selected-hover: var(--colors-blue-700);
  --border-inverse-active: var(--colors-white);
  --border-inverse-default: var(--colors-alpha-white-90);
  --border-inverse-disabled: var(--colors-alpha-white-60);
  --border-inverse-subdued: var(--colors-alpha-white-60);
  --border-success-accented: var(--colors-success-600);
  --border-success-default: var(--colors-success-500);
  --border-success-disabled: var(--colors-grey-300);
  --border-success-subdued: var(--colors-success-200);
  --border-warning-accented: var(--colors-warning-600);
  --border-warning-default: var(--colors-warning-500);
  --border-warning-disabled: var(--colors-grey-300);
  --border-warning-subdued: var(--colors-warning-200);
  --content-bodytext: var(--colors-neutral-700);
  --content-bold: var(--colors-neutral-900);
  --content-default: var(--colors-neutral-700);
  --content-disabled: var(--colors-grey-400);
  --content-highlight: var(--colors-accent-500);
  --content-placeholder: var(--colors-neutral-500);
  --content-subdued: var(--colors-neutral-500);
  --content-title: var(--colors-neutral-800);
  --content-brand-default: var(--colors-blue-500);
  --content-brand-disabled: var(--colors-blue-200);
  --content-brand-subdued: var(--colors-blue-300);
  --content-critical-default: var(--colors-critical-500);
  --content-critical-disabled: var(--colors-critical-200);
  --content-critical-subdued: var(--colors-critical-300);
  --content-decorative-default: var(--colors-accent-500);
  --content-decorative-disabled: var(--colors-accent-200);
  --content-decorative-subdued: var(--colors-accent-300);
  --content-interactive-active: var(--colors-blue-500);
  --content-interactive-default: var(--colors-blue-500);
  --content-interactive-disabled: var(--colors-blue-200);
  --content-interactive-focus: var(--colors-blue-700);
  --content-interactive-hover: var(--colors-blue-700);
  --content-interactive-visited: var(--colors-blue-900);
  --content-interactive-primary-active: var(--colors-white);
  --content-interactive-primary-default: var(--colors-white);
  --content-interactive-primary-disabled: var(--colors-grey-500);
  --content-interactive-primary-focus: var(--colors-white);
  --content-interactive-primary-hover: var(--colors-white);
  --content-interactive-selected-default: var(--colors-blue-50);
  --content-interactive-selected-disabled: var(--colors-grey-500);
  --content-interactive-selected-focus: var(--colors-blue-75);
  --content-interactive-selected-hover: var(--colors-blue-75);
  --content-interactive-subdued-active: var(--colors-blue-500);
  --content-interactive-subdued-default: var(--colors-neutral-700);
  --content-interactive-subdued-disabled: var(--colors-grey-500);
  --content-interactive-subdued-focus: var(--colors-neutral-800);
  --content-interactive-subdued-hover: var(--colors-neutral-800);
  --content-inverse-active: var(--colors-white);
  --content-inverse-default: var(--colors-alpha-white-90);
  --content-inverse-disabled: var(--colors-alpha-white-60);
  --content-inverse-subdued: var(--colors-alpha-white-60);
  --content-success-default: var(--colors-success-500);
  --content-success-disabled: var(--colors-success-200);
  --content-success-subdued: var(--colors-success-300);
  --content-warning-default: var(--colors-warning-500);
  --content-warning-disabled: var(--colors-warning-200);
  --content-warning-subdued: var(--colors-warning-300);
  --outline-focus: var(--colors-blue-100);
  --surface-accented: var(--colors-neutral-75);
  --surface-active: var(--colors-blue-50);
  --surface-backdrop: var(--colors-alpha-neutral-60);
  --surface-default: var(--colors-white);
  --surface-disabled: var(--colors-grey-300);
  --surface-flyout: var(--colors-white);
  --surface-hover: var(--colors-alpha-neutral-10);
  --surface-layer: var(--colors-white);
  --surface-logo: var(--colors-blue-500);
  --surface-page: var(--colors-grey-100);
  --surface-sidebar: var(--colors-grey-50);
  --surface-subdued: var(--colors-neutral-50);
  --surface-topbar: var(--colors-white);
  --surface-brand-accented: var(--colors-blue-500);
  --surface-brand-default: var(--colors-blue-75);
  --surface-brand-disabled: var(--colors-grey-300);
  --surface-brand-highlight: var(--colors-blue-700);
  --surface-critical-accented: var(--colors-critical-500);
  --surface-critical-default: var(--colors-critical-75);
  --surface-critical-disabled: var(--colors-grey-300);
  --surface-highlight-accented: var(--colors-accent-600);
  --surface-highlight-default: var(--colors-accent-75);
  --surface-highlight-disabled: var(--colors-grey-300);
  --surface-interactive-active: var(--colors-blue-50);
  --surface-interactive-default: var(--colors-white);
  --surface-interactive-disabled: var(--colors-grey-300);
  --surface-interactive-focus: var(--colors-neutral-75);
  --surface-interactive-hover: var(--colors-neutral-75);
  --surface-interactive-critical-default: var(--colors-critical-500);
  --surface-interactive-critical-disabled: var(--colors-grey-300);
  --surface-interactive-critical-focus: var(--colors-critical-600);
  --surface-interactive-critical-hover: var(--colors-critical-600);
  --surface-interactive-neutral-active: var(--colors-blue-200);
  --surface-interactive-neutral-default: var(--colors-blue-75);
  --surface-interactive-neutral-disabled: var(--colors-grey-300);
  --surface-interactive-neutral-focus: var(--colors-blue-100);
  --surface-interactive-neutral-hover: var(--colors-blue-100);
  --surface-interactive-primary-active: var(--colors-blue-800);
  --surface-interactive-primary-default: var(--colors-blue-500);
  --surface-interactive-primary-disabled: var(--colors-grey-300);
  --surface-interactive-primary-focus: var(--colors-blue-500);
  --surface-interactive-primary-hover: var(--colors-blue-700);
  --surface-interactive-selected-default: var(--colors-blue-500);
  --surface-interactive-selected-disabled: var(--colors-grey-300);
  --surface-interactive-selected-focus: var(--colors-blue-500);
  --surface-interactive-selected-hover: var(--colors-blue-700);
  --surface-neutral-accented: var(--colors-neutral-500);
  --surface-neutral-default: var(--colors-neutral-200);
  --surface-neutral-disabled: var(--colors-grey-200);
  --surface-neutral-highlight: var(--colors-neutral-800);
  --surface-success-accented: var(--colors-success-500);
  --surface-success-default: var(--colors-success-75);
  --surface-success-disabled: var(--colors-grey-300);
  --surface-transparent-default: var(--colors-alpha-white-30);
  --surface-warning-accented: var(--colors-warning-500);
  --surface-warning-default: var(--colors-warning-75);
  --surface-warning-disabled: var(--colors-grey-300);
}

[data-theme='dark'] {
  --border-default: var(--colors-neutral-600);
  --border-disabled: var(--colors-grey-300);
  --border-subdued: var(--colors-neutral-800);
  --border-brand-accented: var(--colors-accent-200);
  --border-brand-default: var(--colors-accent-400);
  --border-brand-disabled: var(--colors-neutral-800);
  --border-brand-subdued: var(--colors-accent-300);
  --border-critical-accented: var(--colors-critical-600);
  --border-critical-default: var(--colors-critical-400);
  --border-critical-disabled: var(--colors-neutral-800);
  --border-critical-focus: var(--colors-critical-300);
  --border-critical-hover: var(--colors-critical-300);
  --border-critical-subdued: var(--colors-critical-200);
  --border-interactive-active: var(--colors-accent-400);
  --border-interactive-default: var(--colors-neutral-600);
  --border-interactive-disabled: var(--colors-neutral-800);
  --border-interactive-focus: var(--colors-neutral-500);
  --border-interactive-hover: var(--colors-neutral-500);
  --border-interactive-primary-accented: var(--colors-blue-600);
  --border-interactive-primary-default: var(--colors-blue-500);
  --border-interactive-primary-disabled: var(--colors-grey-300);
  --border-interactive-primary-subdued: var(--colors-blue-200);
  --border-interactive-selected-default: var(--colors-accent-500);
  --border-interactive-selected-disabled: var(--colors-neutral-800);
  --border-interactive-selected-focus: var(--colors-accent-400);
  --border-interactive-selected-hover: var(--colors-accent-400);
  --border-inverse-active: var(--colors-neutral-900);
  --border-inverse-default: var(--colors-alpha-neutral-90);
  --border-inverse-disabled: var(--colors-alpha-neutral-40);
  --border-inverse-subdued: var(--colors-alpha-neutral-60);
  --border-success-accented: var(--colors-success-600);
  --border-success-default: var(--colors-success-500);
  --border-success-disabled: var(--colors-grey-300);
  --border-success-subdued: var(--colors-success-200);
  --border-warning-accented: var(--colors-warning-600);
  --border-warning-default: var(--colors-warning-400);
  --border-warning-disabled: var(--colors-grey-300);
  --border-warning-subdued: var(--colors-warning-200);
  --content-bodytext: var(--colors-grey-100);
  --content-bold: var(--colors-neutral-50);
  --content-default: var(--colors-grey-100);
  --content-disabled: var(--colors-neutral-600);
  --content-highlight: var(--colors-accent-400);
  --content-placeholder: var(--colors-neutral-500);
  --content-subdued: var(--colors-neutral-400);
  --content-title: var(--colors-white);
  --content-brand-default: var(--colors-accent-400);
  --content-brand-disabled: var(--colors-neutral-800);
  --content-brand-subdued: var(--colors-accent-200);
  --content-critical-default: var(--colors-critical-300);
  --content-critical-disabled: var(--colors-alpha-critical-40);
  --content-critical-subdued: var(--colors-critical-200);
  --content-decorative-default: var(--colors-accent-400);
  --content-decorative-disabled: var(--colors-accent-200);
  --content-decorative-subdued: var(--colors-accent-300);
  --content-interactive-active: var(--colors-accent-200);
  --content-interactive-default: var(--colors-accent-300);
  --content-interactive-disabled: var(--colors-neutral-500);
  --content-interactive-focus: var(--colors-accent-200);
  --content-interactive-hover: var(--colors-accent-200);
  --content-interactive-visited: var(--colors-accent-500);
  --content-interactive-primary-active: var(--colors-white);
  --content-interactive-primary-default: var(--colors-white);
  --content-interactive-primary-disabled: var(--colors-neutral-600);
  --content-interactive-primary-focus: var(--colors-white);
  --content-interactive-primary-hover: var(--colors-white);
  --content-interactive-selected-default: var(--colors-accent-400);
  --content-interactive-selected-disabled: var(--colors-neutral-800);
  --content-interactive-selected-focus: var(--colors-accent-200);
  --content-interactive-selected-hover: var(--colors-accent-200);
  --content-interactive-subdued-active: var(--colors-accent-400);
  --content-interactive-subdued-default: var(--colors-neutral-200);
  --content-interactive-subdued-disabled: var(--colors-neutral-600);
  --content-interactive-subdued-focus: var(--colors-grey-100);
  --content-interactive-subdued-hover: var(--colors-neutral-100);
  --content-inverse-active: var(--colors-neutral-900);
  --content-inverse-default: var(--colors-alpha-neutral-90);
  --content-inverse-disabled: var(--colors-alpha-neutral-40);
  --content-inverse-subdued: var(--colors-alpha-neutral-60);
  --content-success-default: var(--colors-success-500);
  --content-success-disabled: var(--colors-success-200);
  --content-success-subdued: var(--colors-success-300);
  --content-warning-default: var(--colors-warning-400);
  --content-warning-disabled: var(--colors-warning-200);
  --content-warning-subdued: var(--colors-warning-300);
  --outline-focus: var(--colors-blue-100);
  --surface-accented: var(--colors-neutral-900);
  --surface-active: var(--colors-neutral-800);
  --surface-backdrop: var(--colors-alpha-blue-40);
  --surface-default: var(--colors-neutral-950);
  --surface-disabled: var(--colors-grey-300);
  --surface-flyout: var(--colors-neutral-800);
  --surface-hover: var(--colors-alpha-white-10);
  --surface-layer: var(--colors-neutral-900);
  --surface-logo: var(--colors-white);
  --surface-page: var(--colors-grey-900);
  --surface-sidebar: var(--colors-neutral-900);
  --surface-subdued: var(--colors-neutral-700);
  --surface-topbar: var(--colors-neutral-900);
  --surface-brand-accented: var(--colors-accent-500);
  --surface-brand-default: var(--colors-alpha-white-5);
  --surface-brand-disabled: var(--colors-grey-300);
  --surface-brand-highlight: var(--colors-accent-300);
  --surface-critical-accented: var(--colors-critical-400);
  --surface-critical-default: var(--colors-alpha-critical-10);
  --surface-critical-disabled: var(--colors-neutral-800);
  --surface-highlight-accented: var(--colors-accent-500);
  --surface-highlight-default: var(--colors-accent-75);
  --surface-highlight-disabled: var(--colors-grey-300);
  --surface-interactive-active: var(--colors-alpha-accented-10);
  --surface-interactive-default: var(--colors-alpha-neutral-0);
  --surface-interactive-disabled: var(--colors-alpha-neutral-0);
  --surface-interactive-focus: var(--colors-alpha-white-5);
  --surface-interactive-hover: var(--colors-alpha-white-5);
  --surface-interactive-critical-default: var(--colors-critical-400);
  --surface-interactive-critical-disabled: var(--colors-neutral-800);
  --surface-interactive-critical-focus: var(--colors-critical-300);
  --surface-interactive-critical-hover: var(--colors-critical-300);
  --surface-interactive-neutral-active: var(--colors-neutral-400);
  --surface-interactive-neutral-default: var(--colors-neutral-600);
  --surface-interactive-neutral-disabled: var(--colors-neutral-800);
  --surface-interactive-neutral-focus: var(--colors-neutral-500);
  --surface-interactive-neutral-hover: var(--colors-neutral-500);
  --surface-interactive-primary-active: var(--colors-accent-300);
  --surface-interactive-primary-default: var(--colors-accent-500);
  --surface-interactive-primary-disabled: var(--colors-neutral-800);
  --surface-interactive-primary-focus: var(--colors-accent-400);
  --surface-interactive-primary-hover: var(--colors-accent-400);
  --surface-interactive-selected-default: var(--colors-neutral-800);
  --surface-interactive-selected-disabled: var(--colors-neutral-900);
  --surface-interactive-selected-focus: var(--colors-neutral-800);
  --surface-interactive-selected-hover: var(--colors-neutral-700);
  --surface-neutral-accented: var(--colors-neutral-500);
  --surface-neutral-default: var(--colors-neutral-700);
  --surface-neutral-disabled: var(--colors-neutral-800);
  --surface-neutral-highlight: var(--colors-neutral-100);
  --surface-success-accented: var(--colors-success-500);
  --surface-success-default: var(--colors-alpha-success-10);
  --surface-success-disabled: var(--colors-grey-300);
  --surface-transparent-default: var(--colors-alpha-neutral-30);
  --surface-warning-accented: var(--colors-warning-500);
  --surface-warning-default: var(--colors-alpha-warning-10);
  --surface-warning-disabled: var(--colors-grey-300);
}

[data-theme='light'] {
  --button-border-critical-ghost-active: var(--colors-alpha-neutral-0);
  --button-border-critical-ghost-default: var(--colors-alpha-neutral-0);
  --button-border-critical-ghost-disabled: var(--colors-alpha-neutral-0);
  --button-border-critical-ghost-focus: var(--colors-alpha-neutral-0);
  --button-border-critical-ghost-hover: var(--colors-alpha-neutral-0);
  --button-border-critical-outlined-active: var(--colors-critical-600);
  --button-border-critical-outlined-default: var(--colors-critical-500);
  --button-border-critical-outlined-disabled: var(--colors-grey-300);
  --button-border-critical-outlined-focus: var(--colors-critical-600);
  --button-border-critical-outlined-hover: var(--colors-critical-600);
  --button-border-critical-primary-active: var(--colors-critical-600);
  --button-border-critical-primary-default: var(--colors-critical-500);
  --button-border-critical-primary-disabled: var(--colors-grey-300);
  --button-border-critical-primary-focus: var(--colors-critical-600);
  --button-border-critical-primary-hover: var(--colors-critical-600);
  --button-border-default-active: var(--colors-blue-700);
  --button-border-default-default: var(--colors-blue-500);
  --button-border-default-disabled: var(--colors-grey-300);
  --button-border-default-focus: var(--colors-blue-700);
  --button-border-default-hover: var(--colors-blue-700);
  --button-border-primary-active: var(--colors-blue-800);
  --button-border-primary-default: var(--colors-blue-500);
  --button-border-primary-disabled: var(--colors-grey-300);
  --button-border-primary-focus: var(--colors-blue-700);
  --button-border-primary-hover: var(--colors-blue-700);
  --button-border-subdued-active: var(--colors-alpha-neutral-0);
  --button-border-subdued-default: var(--colors-alpha-neutral-0);
  --button-border-subdued-disabled: var(--colors-alpha-neutral-0);
  --button-border-subdued-focus: var(--colors-alpha-neutral-0);
  --button-border-subdued-hover: var(--colors-alpha-neutral-0);
  --button-content-critical-ghost-active: var(--colors-critical-600);
  --button-content-critical-ghost-default: var(--colors-critical-500);
  --button-content-critical-ghost-disabled: var(--colors-grey-500);
  --button-content-critical-ghost-focus: var(--colors-critical-600);
  --button-content-critical-ghost-hover: var(--colors-critical-600);
  --button-content-critical-outlined-active: var(--colors-critical-700);
  --button-content-critical-outlined-default: var(--colors-critical-500);
  --button-content-critical-outlined-disabled: var(--colors-grey-500);
  --button-content-critical-outlined-focus: var(--colors-critical-700);
  --button-content-critical-outlined-hover: var(--colors-critical-700);
  --button-content-critical-primary-active: var(--colors-white);
  --button-content-critical-primary-default: var(--colors-white);
  --button-content-critical-primary-disabled: var(--colors-grey-500);
  --button-content-critical-primary-focus: var(--colors-white);
  --button-content-critical-primary-hover: var(--colors-white);
  --button-content-default-active: var(--colors-white);
  --button-content-default-default: var(--colors-blue-500);
  --button-content-default-disabled: var(--colors-grey-500);
  --button-content-default-focus: var(--colors-blue-700);
  --button-content-default-hover: var(--colors-blue-700);
  --button-content-primary-active: var(--colors-white);
  --button-content-primary-default: var(--colors-white);
  --button-content-primary-disabled: var(--colors-grey-500);
  --button-content-primary-focus: var(--colors-white);
  --button-content-primary-hover: var(--colors-white);
  --button-content-subdued-active: var(--colors-blue-700);
  --button-content-subdued-default: var(--colors-blue-500);
  --button-content-subdued-disabled: var(--colors-grey-500);
  --button-content-subdued-focus: var(--colors-blue-700);
  --button-content-subdued-hover: var(--colors-blue-700);
  --button-surface-critical-ghost-active: var(--colors-critical-100);
  --button-surface-critical-ghost-default: var(--colors-alpha-neutral-0);
  --button-surface-critical-ghost-disabled: var(--colors-alpha-neutral-0);
  --button-surface-critical-ghost-focus: var(--colors-critical-75);
  --button-surface-critical-ghost-hover: var(--colors-critical-75);
  --button-surface-critical-outlined-active: var(--colors-critical-200);
  --button-surface-critical-outlined-default: var(--colors-critical-75);
  --button-surface-critical-outlined-disabled: var(--colors-alpha-neutral-0);
  --button-surface-critical-outlined-focus: var(--colors-critical-100);
  --button-surface-critical-outlined-hover: var(--colors-critical-100);
  --button-surface-critical-primary-active: var(--colors-critical-600);
  --button-surface-critical-primary-default: var(--colors-critical-500);
  --button-surface-critical-primary-disabled: var(--colors-grey-300);
  --button-surface-critical-primary-focus: var(--colors-critical-600);
  --button-surface-critical-primary-hover: var(--colors-critical-600);
  --button-surface-default-active: var(--colors-blue-500);
  --button-surface-default-default: var(--colors-blue-50);
  --button-surface-default-disabled: var(--colors-alpha-neutral-0);
  --button-surface-default-focus: var(--colors-blue-75);
  --button-surface-default-hover: var(--colors-blue-75);
  --button-surface-primary-active: var(--colors-blue-800);
  --button-surface-primary-default: var(--colors-blue-500);
  --button-surface-primary-disabled: var(--colors-grey-300);
  --button-surface-primary-focus: var(--colors-blue-700);
  --button-surface-primary-hover: var(--colors-blue-700);
  --button-surface-subdued-active: var(--colors-blue-75);
  --button-surface-subdued-default: var(--colors-alpha-neutral-0);
  --button-surface-subdued-disabled: var(--colors-alpha-neutral-0);
  --button-surface-subdued-focus: var(--colors-blue-50);
  --button-surface-subdued-hover: var(--colors-blue-50);

  --formcontrol-border-default-default: var(--colors-neutral-300);
  --formcontrol-border-default-disabled: var(--colors-grey-300);
  --formcontrol-border-default-focus: var(--colors-blue-500);
  --formcontrol-border-default-hover: var(--colors-blue-500);
  --formcontrol-border-default-error-default: var(--colors-critical-500);
  --formcontrol-border-default-error-disabled: var(--colors-grey-300);
  --formcontrol-border-default-error-focus: var(--colors-critical-600);
  --formcontrol-border-default-error-hover: var(--colors-critical-600);
  --formcontrol-border-selected-default: var(--colors-blue-500);
  --formcontrol-border-selected-disabled: var(--colors-grey-300);
  --formcontrol-border-selected-focus: var(--colors-blue-700);
  --formcontrol-border-selected-hover: var(--colors-blue-700);
  --formcontrol-border-selected-error-default: var(--colors-critical-500);
  --formcontrol-border-selected-error-disabled: var(--colors-grey-300);
  --formcontrol-border-selected-error-focus: var(--colors-critical-600);
  --formcontrol-border-selected-error-hover: var(--colors-critical-600);
  --formcontrol-content-default-default: var(--colors-neutral-400);
  --formcontrol-content-default-disabled: var(--colors-grey-200);
  --formcontrol-content-default-focus: var(--colors-neutral-400);
  --formcontrol-content-default-hover: var(--colors-neutral-400);
  --formcontrol-content-default-error-default: var(--colors-white);
  --formcontrol-content-default-error-disabled: var(--colors-grey-400);
  --formcontrol-content-default-error-focus: var(--colors-white);
  --formcontrol-content-default-error-hover: var(--colors-white);
  --formcontrol-content-selected-default: var(--colors-white);
  --formcontrol-content-selected-disabled: var(--colors-grey-400);
  --formcontrol-content-selected-focus: var(--colors-white);
  --formcontrol-content-selected-hover: var(--colors-white);
  --formcontrol-content-selected-error-default: var(--colors-white);
  --formcontrol-content-selected-error-disabled: var(--colors-grey-400);
  --formcontrol-content-selected-error-focus: var(--colors-white);
  --formcontrol-content-selected-error-hover: var(--colors-white);
  --formcontrol-surface-default-default: var(--colors-alpha-neutral-0);
  --formcontrol-surface-default-disabled: var(--colors-grey-300);
  --formcontrol-surface-default-focus: var(--colors-alpha-neutral-0);
  --formcontrol-surface-default-hover: var(--colors-alpha-neutral-0);
  --formcontrol-surface-default-error-default: var(--colors-alpha-neutral-0);
  --formcontrol-surface-default-error-disabled: var(--colors-grey-300);
  --formcontrol-surface-default-error-focus: var(--colors-alpha-neutral-0);
  --formcontrol-surface-default-error-hover: var(--colors-alpha-neutral-0);
  --formcontrol-surface-selected-default: var(--colors-blue-500);
  --formcontrol-surface-selected-disabled: var(--colors-grey-300);
  --formcontrol-surface-selected-focus: var(--colors-blue-700);
  --formcontrol-surface-selected-hover: var(--colors-blue-700);
  --formcontrol-surface-selected-error-default: var(--colors-critical-500);
  --formcontrol-surface-selected-error-disabled: var(--colors-grey-300);
  --formcontrol-surface-selected-error-focus: var(--colors-critical-600);
  --formcontrol-surface-selected-error-hover: var(--colors-critical-600);

  --input-border-default-active: var(--colors-blue-500);
  --input-border-default-default: var(--colors-neutral-300);
  --input-border-default-disabled: var(--colors-grey-300);
  --input-border-default-filled: var(--colors-neutral-300);
  --input-border-default-focus: var(--colors-blue-500);
  --input-border-default-hover: var(--colors-blue-500);
  --input-border-error-active: var(--colors-critical-500);
  --input-border-error-default: var(--colors-critical-400);
  --input-border-error-disabled: var(--colors-critical-100);
  --input-border-error-filled: var(--colors-critical-400);
  --input-border-error-focus: var(--colors-critical-500);
  --input-border-error-hover: var(--colors-critical-500);
  --input-content-default-active: var(--colors-neutral-800);
  --input-content-default-default: var(--colors-neutral-600);
  --input-content-default-disabled: var(--colors-grey-400);
  --input-content-default-filled: var(--colors-neutral-800);
  --input-content-default-focus: var(--colors-neutral-800);
  --input-content-default-hover: var(--colors-neutral-700);
  --input-content-error-active: var(--colors-neutral-800);
  --input-content-error-default: var(--colors-neutral-600);
  --input-content-error-disabled: var(--colors-grey-400);
  --input-content-error-filled: var(--colors-neutral-800);
  --input-content-error-focus: var(--colors-neutral-800);
  --input-content-error-hover: var(--colors-neutral-700);
  --input-outline-focus: var(--colors-blue-100);
  --input-surface-default-active: var(--colors-white);
  --input-surface-default-default: var(--colors-white);
  --input-surface-default-disabled: var(--colors-white);
  --input-surface-default-focus: var(--colors-white);
  --input-surface-default-hover: var(--colors-white);
  --input-surface-error-active: var(--colors-white);
  --input-surface-error-default: var(--colors-white);
  --input-surface-error-disabled: var(--colors-white);
  --input-surface-error-filled: var(--colors-white);
  --input-surface-error-focus: var(--colors-white);
  --input-surface-error-hover: var(--colors-white);
  --input-surface-filled-default: var(--colors-white);
  --input-surface-filled-disabled: var(--colors-white);
  --input-surface-filled-focus: var(--colors-white);
  --input-surface-filled-hover: var(--colors-white);

  --toggle-border-default-default: var(--colors-neutral-300);
  --toggle-border-default-disabled: var(--colors-grey-300);
  --toggle-border-default-focus: var(--colors-blue-500);
  --toggle-border-default-hover: var(--colors-blue-500);
  --toggle-border-default-error-default: var(--colors-critical-500);
  --toggle-border-default-error-disabled: var(--colors-grey-300);
  --toggle-border-default-error-focus: var(--colors-critical-600);
  --toggle-border-default-error-hover: var(--colors-critical-600);
  --toggle-border-selected-default: var(--colors-blue-500);
  --toggle-border-selected-disabled: var(--colors-grey-300);
  --toggle-border-selected-focus: var(--colors-blue-700);
  --toggle-border-selected-hover: var(--colors-blue-700);
  --toggle-border-selected-error-default: var(--colors-critical-500);
  --toggle-border-selected-error-disabled: var(--colors-grey-300);
  --toggle-border-selected-error-focus: var(--colors-critical-600);
  --toggle-border-selected-error-hover: var(--colors-critical-600);
  --toggle-content-handle-default: var(--colors-white);
  --toggle-content-handle-disabled: var(--colors-white);
  --toggle-content-handle-hover: var(--colors-white);
  --toggle-surface-default-default: var(--colors-blue-75);
  --toggle-surface-default-disabled: var(--colors-grey-300);
  --toggle-surface-default-focus: var(--colors-blue-100);
  --toggle-surface-default-hover: var(--colors-blue-100);
  --toggle-surface-default-error-default: var(--colors-blue-75);
  --toggle-surface-default-error-disabled: var(--colors-grey-300);
  --toggle-surface-default-error-focus: var(--colors-blue-100);
  --toggle-surface-default-error-hover: var(--colors-blue-100);
  --toggle-surface-handle-default: var(--colors-white);
  --toggle-surface-handle-disabled: var(--colors-white);
  --toggle-surface-handle-hover: var(--colors-white);
  --toggle-surface-selected-default: var(--colors-blue-500);
  --toggle-surface-selected-disabled: var(--colors-grey-300);
  --toggle-surface-selected-focus: var(--colors-blue-700);
  --toggle-surface-selected-hover: var(--colors-blue-700);
  --toggle-surface-selected-error-default: var(--colors-critical-500);
  --toggle-surface-selected-error-disabled: var(--colors-grey-300);
  --toggle-surface-selected-error-focus: var(--colors-critical-600);
  --toggle-surface-selected-error-hover: var(--colors-critical-600);
}

[data-theme='dark'] {
  --button-border-critical-ghost-active: var(--colors-alpha-neutral-0);
  --button-border-critical-ghost-default: var(--colors-alpha-neutral-0);
  --button-border-critical-ghost-disabled: var(--colors-alpha-neutral-0);
  --button-border-critical-ghost-focus: var(--colors-alpha-neutral-0);
  --button-border-critical-ghost-hover: var(--colors-alpha-neutral-0);
  --button-border-critical-outlined-active: var(--colors-critical-300);
  --button-border-critical-outlined-default: var(--colors-critical-400);
  --button-border-critical-outlined-disabled: var(--colors-grey-300);
  --button-border-critical-outlined-focus: var(--colors-critical-300);
  --button-border-critical-outlined-hover: var(--colors-critical-300);
  --button-border-critical-primary-active: var(--colors-alpha-critical-20);
  --button-border-critical-primary-default: var(--colors-alpha-neutral-0);
  --button-border-critical-primary-disabled: var(--colors-alpha-neutral-0);
  --button-border-critical-primary-focus: var(--colors-alpha-critical-10);
  --button-border-critical-primary-hover: var(--colors-alpha-critical-10);
  --button-border-default-active: var(--colors-white);
  --button-border-default-default: var(--colors-white);
  --button-border-default-disabled: var(--colors-neutral-700);
  --button-border-default-focus: var(--colors-white);
  --button-border-default-hover: var(--colors-white);
  --button-border-primary-active: var(--colors-accent-400);
  --button-border-primary-default: var(--colors-accent-500);
  --button-border-primary-disabled: var(--colors-neutral-800);
  --button-border-primary-focus: var(--colors-accent-400);
  --button-border-primary-hover: var(--colors-accent-400);
  --button-border-subdued-active: var(--colors-alpha-neutral-0);
  --button-border-subdued-default: var(--colors-alpha-neutral-0);
  --button-border-subdued-disabled: var(--colors-alpha-neutral-0);
  --button-border-subdued-focus: var(--colors-alpha-neutral-0);
  --button-border-subdued-hover: var(--colors-alpha-neutral-0);
  --button-content-critical-ghost-active: var(--colors-critical-300);
  --button-content-critical-ghost-default: var(--colors-critical-300);
  --button-content-critical-ghost-disabled: var(--colors-neutral-600);
  --button-content-critical-ghost-focus: var(--colors-critical-300);
  --button-content-critical-ghost-hover: var(--colors-critical-300);
  --button-content-critical-outlined-active: var(--colors-critical-300);
  --button-content-critical-outlined-default: var(--colors-critical-300);
  --button-content-critical-outlined-disabled: var(--colors-neutral-600);
  --button-content-critical-outlined-focus: var(--colors-critical-300);
  --button-content-critical-outlined-hover: var(--colors-critical-300);
  --button-content-critical-primary-active: var(--colors-white);
  --button-content-critical-primary-default: var(--colors-white);
  --button-content-critical-primary-disabled: var(--colors-neutral-600);
  --button-content-critical-primary-focus: var(--colors-white);
  --button-content-critical-primary-hover: var(--colors-white);
  --button-content-default-active: var(--colors-white);
  --button-content-default-default: var(--colors-white);
  --button-content-default-disabled: var(--colors-neutral-600);
  --button-content-default-focus: var(--colors-white);
  --button-content-default-hover: var(--colors-white);
  --button-content-primary-active: var(--colors-white);
  --button-content-primary-default: var(--colors-white);
  --button-content-primary-disabled: var(--colors-neutral-600);
  --button-content-primary-focus: var(--colors-white);
  --button-content-primary-hover: var(--colors-white);
  --button-content-subdued-active: var(--colors-accent-200);
  --button-content-subdued-default: var(--colors-accent-300);
  --button-content-subdued-disabled: var(--colors-neutral-500);
  --button-content-subdued-focus: var(--colors-accent-200);
  --button-content-subdued-hover: var(--colors-accent-200);
  --button-surface-critical-ghost-active: var(--colors-alpha-critical-20);
  --button-surface-critical-ghost-default: var(--colors-alpha-neutral-0);
  --button-surface-critical-ghost-disabled: var(--colors-alpha-neutral-0);
  --button-surface-critical-ghost-focus: var(--colors-alpha-critical-10);
  --button-surface-critical-ghost-hover: var(--colors-alpha-critical-10);
  --button-surface-critical-outlined-active: var(--colors-alpha-critical-20);
  --button-surface-critical-outlined-default: var(--colors-alpha-neutral-0);
  --button-surface-critical-outlined-disabled: var(--colors-alpha-neutral-0);
  --button-surface-critical-outlined-focus: var(--colors-alpha-critical-10);
  --button-surface-critical-outlined-hover: var(--colors-alpha-critical-10);
  --button-surface-critical-primary-active: var(--colors-critical-300);
  --button-surface-critical-primary-default: var(--colors-critical-400);
  --button-surface-critical-primary-disabled: var(--colors-grey-300);
  --button-surface-critical-primary-focus: var(--colors-critical-300);
  --button-surface-critical-primary-hover: var(--colors-critical-300);
  --button-surface-default-active: var(--colors-blue-400);
  --button-surface-default-default: var(--colors-neutral-900);
  --button-surface-default-disabled: var(--colors-alpha-neutral-0);
  --button-surface-default-focus: var(--colors-neutral-800);
  --button-surface-default-hover: var(--colors-neutral-800);
  --button-surface-primary-active: var(--colors-accent-300);
  --button-surface-primary-default: var(--colors-accent-500);
  --button-surface-primary-disabled: var(--colors-neutral-800);
  --button-surface-primary-focus: var(--colors-accent-400);
  --button-surface-primary-hover: var(--colors-accent-400);
  --button-surface-subdued-active: var(--colors-neutral-700);
  --button-surface-subdued-default: var(--colors-alpha-neutral-0);
  --button-surface-subdued-disabled: var(--colors-alpha-neutral-0);
  --button-surface-subdued-focus: var(--colors-neutral-800);
  --button-surface-subdued-hover: var(--colors-neutral-800);

  --formcontrol-border-default-default: var(--colors-neutral-700);
  --formcontrol-border-default-disabled: var(--colors-neutral-700);
  --formcontrol-border-default-focus: var(--colors-accent-500);
  --formcontrol-border-default-hover: var(--colors-accent-500);
  --formcontrol-border-default-error-default: var(--colors-critical-400);
  --formcontrol-border-default-error-disabled: var(--colors-neutral-700);
  --formcontrol-border-default-error-focus: var(--colors-critical-300);
  --formcontrol-border-default-error-hover: var(--colors-critical-300);
  --formcontrol-border-selected-default: var(--colors-accent-500);
  --formcontrol-border-selected-disabled: var(--colors-neutral-700);
  --formcontrol-border-selected-focus: var(--colors-accent-400);
  --formcontrol-border-selected-hover: var(--colors-accent-400);
  --formcontrol-border-selected-error-default: var(--colors-critical-400);
  --formcontrol-border-selected-error-disabled: var(--colors-neutral-700);
  --formcontrol-border-selected-error-focus: var(--colors-critical-300);
  --formcontrol-border-selected-error-hover: var(--colors-critical-300);
  --formcontrol-content-default-default: var(--colors-neutral-400);
  --formcontrol-content-default-disabled: var(--colors-grey-200);
  --formcontrol-content-default-focus: var(--colors-neutral-400);
  --formcontrol-content-default-hover: var(--colors-neutral-400);
  --formcontrol-content-default-error-default: var(--colors-white);
  --formcontrol-content-default-error-disabled: var(--colors-neutral-500);
  --formcontrol-content-default-error-focus: var(--colors-white);
  --formcontrol-content-default-error-hover: var(--colors-white);
  --formcontrol-content-selected-default: var(--colors-white);
  --formcontrol-content-selected-disabled: var(--colors-neutral-500);
  --formcontrol-content-selected-focus: var(--colors-white);
  --formcontrol-content-selected-hover: var(--colors-white);
  --formcontrol-content-selected-error-default: var(--colors-white);
  --formcontrol-content-selected-error-disabled: var(--colors-neutral-500);
  --formcontrol-content-selected-error-focus: var(--colors-white);
  --formcontrol-content-selected-error-hover: var(--colors-white);
  --formcontrol-surface-default-default: var(--colors-neutral-800);
  --formcontrol-surface-default-disabled: var(--colors-neutral-900);
  --formcontrol-surface-default-focus: var(--colors-neutral-700);
  --formcontrol-surface-default-hover: var(--colors-neutral-700);
  --formcontrol-surface-default-error-default: var(--colors-alpha-neutral-0);
  --formcontrol-surface-default-error-disabled: var(--colors-neutral-700);
  --formcontrol-surface-default-error-focus: var(--colors-alpha-neutral-0);
  --formcontrol-surface-default-error-hover: var(--colors-alpha-neutral-0);
  --formcontrol-surface-selected-default: var(--colors-accent-500);
  --formcontrol-surface-selected-disabled: var(--colors-neutral-700);
  --formcontrol-surface-selected-focus: var(--colors-accent-400);
  --formcontrol-surface-selected-hover: var(--colors-accent-400);
  --formcontrol-surface-selected-error-default: var(--colors-critical-400);
  --formcontrol-surface-selected-error-disabled: var(--colors-neutral-700);
  --formcontrol-surface-selected-error-focus: var(--colors-critical-300);
  --formcontrol-surface-selected-error-hover: var(--colors-critical-300);
  --input-border-default-active: var(--colors-neutral-100);
  --input-border-default-default: var(--colors-neutral-300);
  --input-border-default-disabled: var(--colors-neutral-700);
  --input-border-default-filled: var(--colors-neutral-300);
  --input-border-default-focus: var(--colors-neutral-100);
  --input-border-default-hover: var(--colors-neutral-100);
  --input-border-error-active: var(--colors-critical-200);
  --input-border-error-default: var(--colors-critical-300);
  --input-border-error-disabled: var(--colors-alpha-critical-40);
  --input-border-error-filled: var(--colors-critical-300);
  --input-border-error-focus: var(--colors-critical-200);
  --input-border-error-hover: var(--colors-critical-200);
  --input-content-default-active: var(--colors-white);
  --input-content-default-default: var(--colors-neutral-200);
  --input-content-default-disabled: var(--colors-neutral-600);
  --input-content-default-filled: var(--colors-white);
  --input-content-default-focus: var(--colors-white);
  --input-content-default-hover: var(--colors-white);
  --input-content-error-active: var(--colors-white);
  --input-content-error-default: var(--colors-neutral-200);
  --input-content-error-disabled: var(--colors-neutral-600);
  --input-content-error-filled: var(--colors-white);
  --input-content-error-focus: var(--colors-white);
  --input-content-error-hover: var(--colors-neutral-100);
  --input-outline-focus: var(--colors-blue-100);
  --input-surface-default-active: var(--colors-neutral-950);
  --input-surface-default-default: var(--colors-neutral-950);
  --input-surface-default-disabled: var(--colors-neutral-950);
  --input-surface-default-focus: var(--colors-neutral-950);
  --input-surface-default-hover: var(--colors-neutral-950);
  --input-surface-error-active: var(--colors-neutral-950);
  --input-surface-error-default: var(--colors-neutral-950);
  --input-surface-error-disabled: var(--colors-neutral-950);
  --input-surface-error-filled: var(--colors-neutral-950);
  --input-surface-error-focus: var(--colors-neutral-950);
  --input-surface-error-hover: var(--colors-neutral-950);
  --input-surface-filled-default: var(--colors-neutral-950);
  --input-surface-filled-disabled: var(--colors-neutral-950);
  --input-surface-filled-focus: var(--colors-neutral-950);
  --input-surface-filled-hover: var(--colors-neutral-950);

  --toggle-border-default-default: var(--colors-neutral-400);
  --toggle-border-default-disabled: var(--colors-neutral-700);
  --toggle-border-default-focus: var(--colors-accent-500);
  --toggle-border-default-hover: var(--colors-accent-500);
  --toggle-border-default-error-default: var(--colors-critical-400);
  --toggle-border-default-error-disabled: var(--colors-neutral-700);
  --toggle-border-default-error-focus: var(--colors-critical-300);
  --toggle-border-default-error-hover: var(--colors-critical-300);
  --toggle-border-selected-default: var(--colors-accent-500);
  --toggle-border-selected-disabled: var(--colors-neutral-700);
  --toggle-border-selected-focus: var(--colors-accent-400);
  --toggle-border-selected-hover: var(--colors-accent-400);
  --toggle-border-selected-error-default: var(--colors-critical-400);
  --toggle-border-selected-error-disabled: var(--colors-neutral-700);
  --toggle-border-selected-error-focus: var(--colors-critical-300);
  --toggle-border-selected-error-hover: var(--colors-critical-300);
  --toggle-content-handle-default: var(--colors-neutral-950);
  --toggle-content-handle-disabled: var(--colors-neutral-950);
  --toggle-content-handle-hover: var(--colors-neutral-950);
  --toggle-surface-default-default: var(--colors-alpha-neutral-0);
  --toggle-surface-default-disabled: var(--colors-neutral-700);
  --toggle-surface-default-focus: var(--colors-alpha-neutral-0);
  --toggle-surface-default-hover: var(--colors-alpha-neutral-0);
  --toggle-surface-default-error-default: var(--colors-neutral-950);
  --toggle-surface-default-error-disabled: var(--colors-neutral-700);
  --toggle-surface-default-error-focus: var(--colors-neutral-800);
  --toggle-surface-default-error-hover: var(--colors-neutral-800);
  --toggle-surface-handle-default: var(--colors-neutral-950);
  --toggle-surface-handle-disabled: var(--colors-neutral-950);
  --toggle-surface-handle-hover: var(--colors-neutral-950);
  --toggle-surface-selected-default: var(--colors-accent-500);
  --toggle-surface-selected-disabled: var(--colors-neutral-700);
  --toggle-surface-selected-focus: var(--colors-accent-400);
  --toggle-surface-selected-hover: var(--colors-accent-400);
  --toggle-surface-selected-error-default: var(--colors-critical-400);
  --toggle-surface-selected-error-disabled: var(--colors-neutral-700);
  --toggle-surface-selected-error-focus: var(--colors-critical-300);
  --toggle-surface-selected-error-hover: var(--colors-critical-300);
}
