[data-theme] {
  --space-0: 0px;
  --size-0: 0px;
  --space-px: 1px;
  --size-px: 1px;
  --space-0_5: 0.125rem;
  --size-0_5: 0.125rem;
  --space-0_75: 0.1875rem;
  --size-0_75: 0.1875rem;
  --space-1: 0.25rem;
  --size-1: 0.25rem;
  --space-1_5: 0.375rem;
  --size-1_5: 0.375rem;
  --space-1_25: 0.3125rem;
  --size-1_25: 0.3125rem;
  --space-2: 0.5rem;
  --size-2: 0.5rem;
  --space-2_5: 0.625rem;
  --size-2_5: 0.625rem;
  --space-3: 0.75rem;
  --size-3: 0.75rem;
  --space-3_5: 0.875rem;
  --size-3_5: 0.875rem;
  --space-4: 1rem;
  --size-4: 1rem;
  --space-4_5: 1.125rem;
  --size-4_5: 1.125rem;
  --space-5: 1.25rem;
  --size-5: 1.25rem;
  --space-6: 1.5rem;
  --size-6: 1.5rem;
  --space-7: 1.75rem;
  --size-7: 1.75rem;
  --space-8: 2rem;
  --size-8: 2rem;
  --space-9: 2.25rem;
  --size-9: 2.25rem;
  --space-10: 2.5rem;
  --size-10: 2.5rem;
  --space-11: 2.75rem;
  --size-11: 2.75rem;
  --space-12: 3rem;
  --size-12: 3rem;
  --space-14: 3.5rem;
  --size-14: 3.5rem;
  --space-16: 4rem;
  --size-16: 4rem;
  --space-20: 5rem;
  --size-20: 5rem;
  --space-24: 6rem;
  --size-24: 6rem;
  --space-28: 7rem;
  --size-28: 7rem;
  --space-32: 8rem;
  --size-32: 8rem;
  --space-36: 9rem;
  --size-36: 9rem;
  --space-40: 10rem;
  --size-40: 10rem;
  --space-44: 11rem;
  --size-44: 11rem;
  --space-48: 12rem;
  --size-48: 12rem;
  --space-52: 13rem;
  --size-52: 13rem;
  --space-56: 14rem;
  --size-56: 14rem;
  --space-60: 15rem;
  --size-60: 15rem;
  --space-64: 16rem;
  --size-64: 16rem;
  --space-72: 18rem;
  --size-72: 18rem;
  --space-80: 20rem;
  --size-80: 20rem;
  --space-96: 24rem;
  --size-96: 24rem;
}

