node_modules/
package-lock.json
tailwind.colors.*
css/spacings.css
build/
.prettierignore
.gitignore
doc/
public/
*.txt
*.mdx
*.png
*.webp
*.sh
.npmrc
Jenkinsfile
.node-version
jenkins/Dockerfile.jenkins
**/*.groovy
.husky/