@layer krones-library {
  /*
  Careful with the border styles! If you change them,
  make sure you don't mess up the appearance of
  tables with virtual scrolling.
  */
  .kro-kdatatable {
    [data-pc-section='table'] {
      border-spacing: 0;
      border-collapse: separate;
      background-color: var(--surface-default);
    }

    [data-pc-section='bodycell'],
    [data-pc-section='headercell'] {
      border-color: var(--border-default);
      border-width: 0;
      color: var(--content-interactive-subdued-default);
      line-height: 130%;
      font-size: 0.875rem;

      /* relative parent of checkable inputs */
      &.p-selection-column {
        position: relative;
      }
    }

    [data-pc-section='headercell'] {
      border-bottom-width: var(--size-0_75);
      font-weight: 500;
    }

    [data-pc-section='bodycell'] {
      border-bottom-width: 1px;
      font-weight: 400;
    }

    [data-pc-section='bodyrow'],
    [data-pc-section='headerrow'] {
      background-color: var(--surface-default);
    }

    /* for interactive elements */
    [data-pc-section='bodyrow'][data-p-selectable-row='true'],
    [data-pc-section='headercell'][data-p-sortable-column='true'] {
      cursor: pointer;
      transition: background-color 0.1s;
      background-color: var(--surface-interactive-default);

      &:hover {
        background-color: var(--surface-interactive-hover);
      }

      &[data-p-highlight='true'] {
        background-color: var(--surface-interactive-active);
      }
    }

    &.showgridlines {
      [data-pc-section='headercell'],
      [data-pc-section='bodycell'] {
        border-right-width: 1px;

        &:first-child {
          border-left-width: 1px;
        }
      }

      [data-pc-section='headercell'] {
        border-top-width: 1px;
      }
    }

    &.size-small {
      [data-pc-section='bodycell'],
      [data-pc-section='headercell'] {
        padding: var(--space-2) var(--space-4);
      }
    }

    &.size-normal {
      [data-pc-section='bodycell'],
      [data-pc-section='headercell'] {
        padding: var(--space-4);
      }
    }

    &.size-large {
      [data-pc-section='bodycell'],
      [data-pc-section='headercell'] {
        padding: var(--space-5) var(--space-4);
      }
    }

    [data-pc-section='headerfilterclearbutton'] {
      height: var(--size-8);
      width: var(--size-8);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      padding: var(--space-1);

      transition:
        color 0.1s,
        background-color 0.1s;
      color: var(--content-interactive-subdued-default);
      background-color: var(--surface-interactive-default);

      &:hover {
        color: var(--content-interactive-subdued-hover);
        background-color: var(--surface-interactive-hover);
      }
    }

    [data-pc-section='columnfilter'] {
      display: flex;
      align-items: center;
      gap: var(--space-2);
    }

    [data-pc-section='filterinput'] {
      flex: none;
      width: auto;
    }

    /* element inside header cell */
    [data-pc-section='headercontent'] {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      align-self: stretch;
    }

    [data-pc-section='sort'] {
      margin-left: var(--space-2);
    }

    .kro-kpaginator {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: var(--space-4);
    }
  }
}
