@layer krones-library {
  .kro-kproductcard {
    display: flex;
    flex-direction: column;
    min-width: 18rem;
    max-width: 21rem;
    min-height: 23rem;
    max-height: 30rem;
    border-radius: var(--size-1_5);
    box-shadow: var(--box-shadow-thick);
    overflow: hidden;
    background-color: var(--surface-default);

    .kro-kproductcard-header {
      display: flex;
      height: 12rem;
      width: 100%;
      justify-content: center;
      align-items: center;
      color: var(--button-surface-primary-default);
      background-color: var(--colors-blue-50);
      overflow: hidden;

      img {
        min-width: 100%;
        min-height: 100%;
      }

      svg {
        height: var(--size-20);
        width: var(--size-20);
      }
    }

    .kro-kproductcard-body {
      padding: var(--space-5) var(--space-6);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-grow: 1;
      gap: var(--space-4);

      .kro-ktext {
        user-select: none;
      }

      .kro-kproductcard-footer {
        display: flex;
        flex-direction: row;
        gap: var(--space-3);
      }
    }
  }
}
