@layer krones-library {
  .kro-kavatar {
    position: relative;
    border-radius: 100%;
    background-color: var(--surface-brand-accented);
    color: var(--content-inverse-default);
    font-weight: 400;
    line-height: 130%;

    &,
    label {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    label {
      overflow: hidden;
      user-select: none;
      text-wrap: nowrap;
    }

    &.size-small {
      font-size: 0.625rem;
      height: var(--size-6);
      width: var(--size-6);
      min-height: var(--size-6);
      min-width: var(--size-6);
    }

    &.size-normal {
      font-size: 0.75rem;
      height: var(--size-8);
      width: var(--size-8);
      min-height: var(--size-8);
      min-width: var(--size-8);
    }

    &.size-large {
      font-size: 1rem;
      height: var(--size-12);
      width: var(--size-12);
      min-height: var(--size-12);
      min-width: var(--size-12);
    }

    &.size-xlarge {
      font-size: 1.5rem;
      height: var(--size-16);
      width: var(--size-16);
      min-height: var(--size-16);
      min-width: var(--size-16);
    }

    img {
      border-radius: 100%;
      height: 100%;
      width: 100%;
    }

    svg {
      height: 60%;
      width: 60%;
    }

    .kro-kbadge {
      position: absolute;
      /* make the badge sit right on the edge of the avatar circle. Note 0.15 ~= 0.5 - 0.5*cos(45) */
      right: 15%;
      top: 15%;
      transform: translate(50%, -50%);
    }
  }
}
