@layer krones-library {
  .kro-kmultiselect {
    [data-pc-section='label'] {
      display: block;
      justify-content: space-between;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    [data-pc-section='token'] {
      display: inline-flex;
      gap: var(--space-1);
      padding: 0 var(--space-2) 0 var(--space-3);
      margin-right: 0.5rem;
      border-radius: var(--size-3);
      background: var(--surface-interactive-neutral-default);
      color: var(--input-content-default-default);
    }

    .kro-kmultiselect-label {
      padding: 0;
    }

    .kro-kmultiselect-trigger {
      width: unset;
    }

    [data-pc-section='removetokenicon'] {
      margin: 0;
    }

    &.kro-size-small [data-pc-section='token'] {
      height: var(--size-5);
    }

    &.kro-size-default [data-pc-section='token'] {
      height: var(--size-6);
    }

    &.kro-size-large [data-pc-section='token'] {
      height: var(--size-7);
    }
  }

  .kro-kmultiselect-panel {
    background: var(--surface-flyout);
    border-radius: var(--size-1_5);
    box-shadow:
      var(--space-0) var(--space-1) var(--space-1) var(--space-0)
        rgba(0, 0, 0, 0.25),
      var(--space-0) var(--space-1) var(--space-1_5) var(--space-0)
        rgba(0, 0, 0, 0.05);

    [data-pc-section='header'] {
      border-radius: var(--size-1_5) var(--size-1_5) var(--size-0) var(--size-0);
      border-bottom: var(--size-px) solid var(--border-default);
      background: var(--surface-accented);
      padding: var(--space-4) var(--space-6);
      display: flex;
      gap: var(--space-2);

      &:not(:has([data-pc-section='filtercontainer'])):not(
          :has([data-pc-section='headercheckboxcontainer'])
        ) {
        display: none;
      }
    }

    [data-pc-section='wrapper'] {
      padding: var(--space-2);
    }

    [data-pc-section='list'] {
      width: 100%;
    }

    [data-pc-section='filtericon'],
    [data-pc-section='closebutton'] {
      display: none;
    }

    [data-pc-section='item'][data-p-highlight='true'] {
      /* to override knavitem styles */
      background-color: var(--surface-interactive-default);
    }

    [data-pc-section='emptymessage'] {
      padding: var(--space-2);
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 130%;
      color: var(--content-bodytext);
    }
  }
}
