@layer krones-library {
  /* 
  Apart from the content and footer, all the 
  styles for the Confirm Dialog are covered
  by the class name .kro-kdialog
  */
  .kro-kconfirmdialog {
    [data-pc-section='content'] {
      display: flex;
      padding: var(--space-0) var(--space-5);
      justify-content: flex-start;
      align-items: center;
      gap: var(--space-2);
      align-self: stretch;

      svg {
        width: var(--size-6);
        height: var(--size-6);
        color: var(--content-bodytext);
        flex-shrink: 0;
      }
    }

    [data-pc-section='footer'] {
      display: flex;
      padding: var(--space-0);
      justify-content: flex-end;
      align-items: center;
      gap: var(--space-3);
      align-self: stretch;
      padding: var(--space-5);
    }
  }
}
