@layer krones-library {
  .kro-ksidenav {
    width: 3rem;
    height: 100%;
    padding: var(--space-4) var(--space-2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: var(--content-interactive-subdued-default);
    background-color: var(--surface-sidebar);
    box-shadow: var(--size-2_5) 0 var(--size-2_5) 0 rgba(0, 0, 0, 0.04);
  }

  .kro-ksidenav-double-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    svg {
      transform: scale(-1, 1);
    }
  }

  .kro-ksidenav-product-title {
    color: var(--content-interactive-subdued-default);
    user-select: none;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 130%;
    padding: var(--space-2_5) var(--space-4);
    height: var(--space-10);
  }
}
