@layer krones-library {
  .kro-ktreetable {
    background-color: var(--surface-default);

    /* Root class for KTreeTable with showgridlines */
    &.showgridlines .p-treetable-header {
      border-width: var(--size-px) var(--size-px) var(--size-0) var(--size-px);
    }

    &.showgridlines .p-treetable-footer {
      border-width: var(--size-0) var(--size-px) var(--size-px) var(--size-px);
    }

    &.showgridlines .p-treetable-thead > tr > th {
      border-width: var(--size-px);
    }

    &.showgridlines .p-treetable-tbody > tr > td {
      border-width: var(--size-px);
    }

    &.showgridlines .p-treetable-tfoot > tr > td {
      border-width: var(--size-px);
    }

    /* General styles for KTreeTable */
    .p-treetable-header,
    .p-treetable-footer {
      background: var(--surface-default);
      color: var(--content-interactive-subdued-default);
      border: var(--size-px) solid var(--content-interactive-subdued-default);
      padding: 1rem 1rem;
      font-weight: 700;
    }

    .p-treetable-thead > tr > th {
      text-align: left;
      padding: 1rem 1rem;
      border: var(--size-px) solid var(--border-default);
      background: var(--surface-default);
      font-weight: 700;
      color: var(--content-interactive-subdued-default);
    }

    .p-treetable-tbody > tr > td {
      text-align: left;
      border: var(--size-px) solid var(--border-default);
      padding: 1rem 1rem;
      color: var(--content-interactive-subdued-default);
    }

    .p-treetable-tbody > tr.p-highlight {
      background: var(--surface-interactive-active);
      color: var(--content-interactive-subdued-default);
    }

    .p-treetable-tbody > tr > td .p-treetable-toggler {
      margin-right: 0.5rem;
    }

    .p-treetable-tbody > tr > td .p-treetable-toggler + .p-checkbox {
      margin-right: 0.5rem;
    }

    /* Checkbox and Radio Button Styles */
    .p-treetable-column-header .p-checkbox,
    .p-treetable-column-header .p-radio-button {
      margin: 0 0.5rem;
    }

    /* Paginator Styles */
    .p-paginator-top,
    .p-paginator-bottom {
      border-width: 0 0 var(--size-px) 0;
      border-radius: var(--size-0);
    }

    /* Loader */
    .p-treetable-loading-overlay {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }

    /* Reorder */
    .p-treetable-reorder-indicator-up,
    .p-treetable-reorder-indicator-down {
      position: absolute;
      display: none;
    }

    /* Scrollable Table Styles */
    .p-treetable-scrollable-wrapper {
      position: relative;
    }

    .p-treetable-scrollable-body {
      overflow: auto;
      position: relative;
    }

    .p-treetable-virtual-table {
      position: absolute;
    }

    /* Frozen Columns Styles */
    .p-treetable-frozen-view .p-treetable-scrollable-body {
      overflow: hidden;
    }

    .p-treetable-unfrozen-view {
      position: absolute;
      top: 0;
      left: 0;
    }

    /* Alignment Styles */
    .p-treetable-thead > tr > th.p-align-left > .p-column-header-content,
    .p-treetable-tbody > tr > td.p-align-left,
    .p-treetable-tfoot > tr > td.p-align-left {
      text-align: left;
      justify-content: flex-start;
    }

    .p-column-header-content {
      display: flex;
      align-items: center;
      gap: var(--space-2);
      align-self: stretch;
    }

    .p-treetable-thead > tr > th.p-align-right > .p-column-header-content,
    .p-treetable-tbody > tr > td.p-align-right,
    .p-treetable-tfoot > tr > td.p-align-right {
      text-align: right;
      justify-content: flex-end;
    }

    .p-treetable-thead > tr > th.p-align-center > .p-column-header-content,
    .p-treetable-tbody > tr > td.p-align-center,
    .p-treetable-tfoot > tr > td.p-align-center {
      text-align: center;
      justify-content: center;
    }

    /* Row Hover Styles */
    &.p-treetable-selectable .p-treetable-tbody > tr:not(.p-highlight):hover,
    &.p-treetable-hoverable-rows
      .p-treetable-tbody
      > tr:not(.p-highlight):hover {
      background: var(--surface-interactive-active);
      color: var(--content-interactive-subdued-default);
    }

    .p-treetable-tbody > tr:focus-visible {
      outline: 0.15rem solid #bfdbfe;
      outline-offset: -0.15rem;
    }

    .p-treetable-tbody .p-checkbox {
      position: relative;
      display: inline-flex;
      user-select: none;
      vertical-align: bottom;
    }

    .p-treetable-tbody .p-checkbox-input {
      appearance: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      margin: 0;
      opacity: 0;
      z-index: 1;
      outline: 0 none;
      cursor: pointer;
    }

    .p-treetable-tbody .p-checkbox-box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .p-treetable-tbody .p-checkbox .p-checkbox-box {
      border: 2px solid var(--border-default);
      background: var(--surface-default);
      width: 1.25rem;
      height: 1.25rem;
      color: var(--colors-white);
      border-radius: 0.3125rem;
      transition:
        background-color 0.2s,
        color 0.2s,
        border-color 0.2s,
        box-shadow 0.2s;
      outline-color: transparent;
    }

    .p-treetable-tbody .p-checkbox .p-checkbox-box .p-checkbox-icon {
      transition-duration: 0.2s;
      color: var(--colors-white);
      font-size: 0.875rem;
    }

    .p-treetable-tbody .p-checkbox.p-highlight .p-checkbox-box {
      border-color: var(--colors-blue-500);
      background: var(--colors-blue-500);
    }
  }
}
