@layer krones-library {
  .kro-ksidebar {
    background-color: var(--surface-sidebar);
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
    color: var(--content-interactive-subdued-default);
    width: fit-content;
    box-shadow: 10px 0 11px 0 rgba(0, 0, 0, 0.04);

    .p-sidebar-header {
      height: var(--size-12);
      padding: var(--space-4);
    }

    .p-sidebar-content {
      display: flex;
      flex-direction: column;
      gap: var(--space-1);
    }

    .p-sidebar-close > svg {
      width: var(--size-4);
      height: var(--size-4);
    }

    .p-sidebar-close {
      border-radius: var(--size-1);
      transition: outline 0.2s;
    }
  }
}
