@layer krones-library {
  .kro-d-kmegamenu {
    display: flex;
    flex-direction: row;
  }

  .kro-d-megamenu-panel {
    max-width: 98vw;
    padding: var(--space-4) var(--space-2);
    background: var(--surface-flyout);
    color: var(--content-interactive-subdued-default);
    border-radius: var(--size-1_5);
    box-shadow: var(--box-shadow-thick);
    transform: translateX(-50%) translateY(-8px);
    left: 50% !important; /* prime react assigns styles to the root panel component and you cannot over */

    --local-submenu-horizontal-padding: clamp(
      var(--space-2),
      5%,
      var(--space-6)
    );
    .category-item {
      display: flex;
      flex-direction: row;
      justify-items: center;
      user-select: none;
      gap: var(--space-2);
      border-radius: var(--size-1_5);
      width: 100%;
      padding: var(--space-2_5) var(--local-submenu-horizontal-padding);

      line-height: 130%;
      font-size: 0.875rem;

      .category-item-icon {
        svg {
          margin-top: 1px;
          height: var(--size-4);
          width: var(--size-4);
        }
      }
    }
  }

  .kro-d-megamenu-panel-hierarch-content {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(100px, 225px);
    overflow-x: auto;
    width: max-content; /* strive to make the column as wide as possible*/
    max-width: 100%; /* constrain to parent */
  }

  .kro-d-megamenu-panel-hierarch-column {
    box-sizing: border-box;
    height: fit-content;
    display: flex;
    flex-direction: column;

    .column-header {
      color: var(--content-interactive-subdued-default);
      padding: var(--space-2_5) var(--local-submenu-horizontal-padding);
      width: 100%;
      user-select: none;
      font-size: 0.875rem;
      font-weight: 700;
      line-height: 130%;
      display: flex;
      gap: var(--space-2);

      svg {
        margin-top: 1px;
      }
    }
  }

  .kro-d-megamenu-panel-tabbed-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    .control-panel {
      padding: 0 var(--space-6);
      height: var(--space-10);
      display: flex;
      flex-direction: row;
      gap: var(--space-6);
      justify-content: space-between;
      align-items: center;
    }

    .control-panel-left {
      display: flex;
      flex-direction: row;
      gap: var(--space-2);
      align-items: center;
    }

    .category-item-grid {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .p-overlaypanel {
    &:before,
    &:after {
      border-width: 0;
    }

    .p-overlaypanel-content {
      padding: 0;
    }
  }

  a.is-disabled,
  button.is-disabled {
    color: var(--content-disabled);
    cursor: not-allowed;

    &:hover {
      color: var(--content-disabled);
      cursor: not-allowed;
      background-color: transparent;
    }

    svg {
      color: inherit;
    }
  }
}
