@layer krones-library {
  /*
  styles marked as important are added to eliminate
  certain effects from breakpoint media queries
  */

  /* sidebar  styles */
  .kro-menu-sidebar {
    background-color: var(--surface-sidebar);
    color: var(--content-interactive-subdued-default);
    width: 90%;
  }

  .kro-menu-sidebar-header-start {
    display: flex;
    gap: var(--space-4);
    justify-items: center;
    padding: var(--space-2);
    border-radius: var(--size-1_5);
    cursor: pointer;
    user-select: none;

    svg {
      margin-top: 3px;
    }
  }

  .kro-menu-sidebar-header {
    height: var(--size-14);
    padding-left: var(--space-4);
    border-bottom: 0.5px solid var(--surface-brand-default);

    .main-logo {
      svg {
        color: var(--surface-logo);
      }
      padding: var(--space-2);
      border-radius: var(--size-1_5);
      cursor: pointer;
    }
  }

  .kro-menu-sidebar-icons {
    padding-right: var(--space-4);
  }

  .kro-menu-sidebar-close-button {
    border-radius: var(--size-4);
    padding: var(--space-2);
  }

  .kro-menu-sidebar-content-menu {
    width: 100%;

    &.kro-kmenu {
      padding: 0;

      [data-pc-section='menu'] {
        gap: 0;
      }

      [data-pc-section='submenuheader'] {
        color: var(--content-brand-default);
        font-size: var(--size-3);
        line-height: var(--size-6);
        background-color: var(--surface-brand-default);
        height: var(--size-6);
        margin: 0;
        position: relative;
        padding-left: var(--space-4);
        font-weight: 400;
      }
    }

    ul > li {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .p-sidebar-content {
    /*for the sidebar-menu animation*/
    position: relative;
    overflow-x: hidden;
  }

  .kro-menu-sidebar-content-menu-content {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: var(--space-2);
    height: var(--size-12);
    padding-left: var(--space-4);
    padding-right: var(--space-4);
    color: var(--content-bodytext);
    border-bottom: 0.5px solid var(--surface-brand-default);
    cursor: pointer;

    &.is-highlighted {
      color: var(--content-interactive-subdued-active);
      background-color: var(--surface-interactive-active);
    }
  }

  .kro-menu-sidebar-content-menu-content-left {
    display: flex;
    height: 100%;
    align-items: center;
    gap: var(--space-2);
    padding-top: var(--space-1);
    padding-bottom: var(--space-1);
    svg {
      flex-shrink: 0;
      color: var(--surface-brand-accented);
      height: var(--size-6);
      width: var(--size-6);
    }
  }

  .kro-menu-sidebar-content-menu-content-right {
    margin: auto 0;
    svg {
      height: var(--size-6);
      width: var(--size-6);
    }
  }

  .kro-menu-sidebar-top-view {
    .kro-menu-sidebar-content-menu-content-left {
      [data-pc-section='label'] {
        font-size: var(--size-4);
        line-height: var(--size-7);
      }

      svg {
        color: var(--content-bodytext);
      }
    }
  }

  .kro-menu-sidebar-action-selector {
    width: 100%;
  }

  /* sidebar-menu-animations */
  .kro-menu-sidebar-menu-animation {
    --transform-transition: 440ms;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .kro-menu-sidebar-top-menu-animation-enter {
    transform: translateX(-100%);
  }

  .kro-menu-sidebar-top-menu-animation-enter-active {
    transform: translateX(0);
    transition: transform var(--transform-transition);
  }

  .kro-menu-sidebar-top-menu-animation-exit {
    transform: translateX(0);
  }

  .kro-menu-sidebar-top-menu-animation-exit-active {
    transform: translateX(-10%);
    transition: transform var(--transform-transition);
  }

  /**/

  .kro-menu-sidebar-item-menu-animation-enter {
    transform: translateX(100%);
  }

  .kro-menu-sidebar-item-menu-animation-enter-active {
    transform: translateX(0);
    transition: transform var(--transform-transition);
  }

  .kro-menu-sidebar-item-menu-animation-exit {
    transform: translateX(0);
  }

  .kro-menu-sidebar-item-menu-animation-exit-active {
    transform: translateX(100%);
    transition: transform var(--transform-transition);
  }
}
